{% extends 'frontend/base.html' %}

{% block content %}

<div class="container-fluid">
    <p>
    <h3>Analysis - {{ stock_data.name }}</h3></p>
</div>
<div class="container-fluid">
    <form action="/frontend/analysis" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>

<div class="container-fluid">
    <ul class="nav nav-tabs nav-fill justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Intraday</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Daily</a>
        </li>
    </ul>
</div>
{% endblock %}
