{% extends 'frontend/base.html' %}

{% block content %}

<div class="db_table">
    <div class="container-fluid">
        <table class="table table-sm table-hover small">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company</th>
                    <th scope="col">BOM ID</th>
                    <th scope="col">Yahoo ID</th>
                    <th scope="col">Last Refreshed</th>
                    <th scope="col">Update?</th>
                </tr>
            </thead>
            <tbody>
                {% for company in all_companies %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'analysis_index' company.id %}">{{ company.name }}</a></td>
                    <td>{{ company.bom_id }}</td>
                    <td>{{ company.yahoo_id }}</td>
                    <td>{{ company.last_updated_date|timesince }}</td>
                    <td><a href="{% url 'refresh_data' company.id %}">{{ company.update_status }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
