{% extends 'frontend/base.html' %}

{% block content %}

    <div class="db_table">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col-6">Column left</div>
                <div class="col-3">Column right</div>
                <div class="col-3">Column left</div>
            </div>
            <div class="row align-items-start">
                <div class="col-6">Column left</div>
                <div class="col-3">Column right</div>
                <div class="col-3">Column left</div>
            </div>
        </div>
    </div>
{% endblock %}